<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to public/index.php if file or directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Forward request to index.php with the path info
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
